
Formulario de Kaiet/.vs/Formulario de Kaiet/v16/.suo

Formulario de Kaiet/bin/Release/Formulario de Kaiet.exe

Formulario de Kaiet/bin/Release/Formulario de Kaiet.pdb

Formulario de Kaiet/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache

Formulario de Kaiet/obj/Release/Formulario de Kaiet_MarkupCompile.cache

Formulario de Kaiet/obj/Release/Formulario de Kaiet_MarkupCompile.lref

Formulario de Kaiet/obj/Release/Formulario de Kaiet.csproj.CoreCompileInputs.cache

Formulario de Kaiet/obj/Release/Formulario de Kaiet.csproj.FileListAbsolute.txt

Formulario de Kaiet/obj/Release/Formulario de Kaiet.csproj.GenerateResource.cache

Formulario de Kaiet/obj/Release/Formulario de Kaiet.exe

Formulario de Kaiet/obj/Release/Formulario de Kaiet.pdb
